##folders
*#
/unregistered/
*.tex
/resources/
/classes
/non-thesis/
*.bib
#*.lyx#
*~
##python related
*.ipynb_checkpoints/
*.pyc

##bibtex stuff
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
